<main class="main">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  
    <div>
      <label for="key">Key:</label>
      <input id="key" type="text" [(ngModel)]="key">
    </div>
  
    <div>
      <label for="data">Data:</label>
      <input id="data" type="text" [(ngModel)]="dataToSet">
    </div>
  
    <button (click)="addData()">Add Data</button>
    <button (click)="fetchData()">Fetch Data</button>
  </div>
  
  <div *ngIf="data">
    <h3>Retrieved Data:</h3>
    <pre>{{ data | json }}</pre>
  </div>
  
  
</main>


<router-outlet />
